/*colors and fonts*/
body {
 	background-color: rgb(230,230,230);
 	color: rgb(30;30;30);
 	font-family: 'Lora', serif;;
 	font-size: 15px;

}


h1 {
 	color: #0ab2ba;
 	font-family:'Artifika', serif;
 	letter-spacing: 5px;
 	font-size: 40px;
 	text-transform: uppercase;
 	opacity: 50%;
}

h2 {
 	color: #26b80cdb;
 	font-family: Segoe Print;
 	font-weight: lighter;
 	letter-spacing: 2px;
 	font-size: 22px;
 	text-transform: uppercase;
 	opacity: 50%;

}

a {
 	text-decoration: none;
 	color: #001ffa;
 	font-weight: 1000;
 }
a:hover {
	color: grey;
}

/* Custom design with class*/

.container {
	
	width: 700px;
	margin: 40px auto;
}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0,1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #0ab2ba2b; 
	color:black;
	border-radius: 20%;
	padding: 2px 6px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
 }

 .list-inline li {
 	display: inline;
 	padding: 10px;
 	margin: 30px;

 }

.list-inline i {
	font-size: 40px;
	color: #0ab2ba;
}

.list-inline i:hover {
	color: grey;
}

#introduction p {
margin-bottom: 20px
}



